{
    "programs": [
        {
            "enable": true,
            "name": "open morning working days",
            "action": "open",
            "trigger":
            {
                "source": "time",
                "time": "07:50"
            },
            "days": [
                "mon",
                "tue",
                "wed",
                "thu",
                "fri"
            ],
            "shutters": [
                "All"
            ]
        },
        {
            "enable": true,
            "name": "open morning weekend days",
            "action": "open",
            "trigger":
            {
                "source": "time",
                "time": "10:00"
            },
            "days": [
                "sat",
                "sun"
            ],
            "shutters": [
                "All"
            ]
        },
        {
            "enable": true,
            "name": "close sunset",
            "action": "close",
            "trigger":
            {
                "source": "sun",
                "event": "sunset"
            },
            "days": [
                "mon",
                "tue",
                "wed",
                "thu",
                "fri",
                "sat",
                "sun"
            ],
            "shutters": [
                "All"
            ]
        },
        {
            "enable": true,
            "name": "int midday",
            "action": "int",
            "trigger":
            {
                "source": "time",
                "time": "14:00"
            },
            "days": [
                "mon",
                "tue",
                "wed",
                "thu",
                "fri",
                "sat",
                "sun"
            ],
            "shutters": [
                "Entrance",
                "Kitchen"
            ]
        }
    ]
}
