{
    "location":
    {
        "latitude": 10.10,
        "longitude": 1.1
    },
    "scheduling":
    {
        "enable" : true,
        "programs":
        {
            "open_morning_working_days" :
            {
                "event": "open",
                "time" : "7:50"
            },
            "open_morning_weekend_days":
            {
                "event": "open",
                "time" : "10:00"
            },
            "close_sunset":
            {
                "event" : "close",
                "time" : "=mean(dusk,sunset)"
            },
            "int_midday":
            {
                "event" : "intermediate",
                "time" : "14:00"
            },
            "close_midday":
            {
                "event" : "close",
                "time" : "14:00"
            }
        },
        "channels":
        {
            "1" :
            {
                "mon,tue,wed,thu,fri" :
                [
                    "open_morning_working_days",
                    "close_sunset"
                ],
                "sat,sun":
                [
                    "open_morning_weekend_days",
                    "close_sunset"
                ]
            },
            "3,5,6" :
            {
                "mon,tue,wed,thu,fri,sat,sun" :
                [
                    "int_midday"
                ]
            },
            "2,4" :
            {
                "mon,tue,wed,thu,fri,sat,sun" :
                [
                    "close_midday"
                ]
            }
        }
    }
}